{% extends 'base.html' %}

{% block page_name %}
    Smart Crop Predictor
{% endblock %}

{% block content %}
<form action="https://original-agro-pro.herokuapp.com/predict1" method="get">

	<table class="table">

		<thead>
	    <tr>
	      <th scope="col">Fields</th>
	      <th scope="col">Input</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Temparature</th>
	      <td><input type ="text" name ="temp"></td>
	    </tr>
	    <tr>
	      <th scope="row">Humidity</th>
	      <td><input type ="text" name ="hum"></td>

	    </tr>
	    <tr>
	      <th scope="row">Rainfall</th>
	      <td><input type ="text" name ="rain"></td>

	    </tr>
	    
	  </tbody>
	</table>
<div class="container">
<div class="row">
    <div class="col-md-8 mx-auto">
	  <input class="btn btn-primary" type="submit" value="Submit">
     
    </div>
  </div>
	 </div>


{% if best_predicted_crop %}
	<div class="container">
		<div class="row">
    			<div class="col-md-8 mx-auto">
	  			<div class="alert alert-success" role="alert">
 					The Best Crop to grow according to your climatic conditions is {{ best_predicted_crop }}.
				</div>
    			</div>
  		</div>
	</div>
{% endif %}	

</form>
{% endblock %}