<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<br>
<h3 class="text-center">How To Use</h3>
<br>
<div class="container">

    <h5> SmartAgroPro Android Application provides the following Features : </h5>
    <ol>
        <li> Optimal Crop Prediction</li>
        <li> Get Current Climatic Conditions</li>
        <li> Weather Forecast for upcoming days</li>
        <li> Current Market Prices of various Commodities</li>
        <li> Minimum Support Price Details</li>
        <li> Region Specific Crop Enhancement Suggestions</li>
    </ol>
</div>