<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<br>
<h3 class="text-center">How To Use</h3>
<br>
<div class="container">

    <h5> SmartAgroPro Android Application provides the following Features : </h5>
    <ol>
        <li> Optimal Crop Prediction</li>
        <li> Get Current Climatic Conditions</li>
        <li> Weather Forecast for upcoming days</li>
        <li> Current Market Prices of various Commodities</li>
        <li> Minimum Support Price Details</li>
        <li> Region Specific Crop Enhancement Suggestions</li>
    </ol>
    <p>
        To Find out the Optimal Crop, First Click on <b> Get Started</b> and Select <b>Crop Prediction</b>.
        Here you can choose Basic Crop Prediction or Advanced Crop Prediction.
        The Advanced Crop Prediction provides accurate results and is a Recommended and Recognized model.
        The Basic Crop Prediction is simple, fast, easy to use which requires only providing User location.
    </p>

    <p>
        Current Weather Data or Future Weather Forecast can be found by using <b>Weather Forecast</b> Button.

    </p>

    <p>
        Current Prices of Various Commodities or Minimum Support Prices the Government provides
        can be known by selecting <b> Market Prices</b> button.
    </p>
</div>