<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<br>
<h3 class="text-center">ఎలా ఉపయోగించాలి ?</h3>
<br>
<div class="container">


<h5> స్మార్ట్ ఆగ్రో ప్రో ఆండ్రాయిడ్ అప్లికేషన్ ఈ క్రింది ఉపయోగాలను  అందిస్తుంది: </h5>
     <ol>
         <li> పంట సూచన   </li>
         <li> ప్రస్తుత వాతావరణ పరిస్థితులను పొందండి  </li>
         <li> రాబోయే రోజులకు వాతావరణ సూచన  </li>
         <li> వివిధ వస్తువుల ప్రస్తుత మార్కెట్ ధరలు  </li>
         <li> కనీస మద్దతు ధర వివరాలు  </li>
         <li> ప్రాంతం నిర్దిష్ట పంట వృద్ధి సూచనలు </li>
     </ol>

    <p>  పంట సూచన పొందడం కోసం ముందుగా అగ్రోప్రోలోని <b>ప్రారంభించు</b> బటన్ ను నొక్కండి, తరువాత <b>పంట సూచన</b> లోని ప్రాధమిక లేదా ఆధునిక పద్దతిని ఎంచుకోండి.
        ప్రాధమిక పద్దతిలో మీ ప్రాంతాన్ని ఎంచుకొని, మీ పొలం విస్తీర్ణం నమోదు చేస్తే మీరు ఏ పంట పండించాలో తెలుసుకోవచ్చును.
        ఆధునిక పద్ధతి అందించే ఫలితాలు చాలా ఖఛ్చితంగా ఉంటాయి.
  <br>
        ప్రస్తుత వాతావరణ పరిస్థితులను పొందండానికి లేదా రాబోయే రోజులకు వాతావరణ సూచన పొందడానికి <b>వాతావరణ సూచన </b> బటన్ ను వినియోగించండి.
<br>
       వివిధ వస్తువుల ప్రస్తుత మార్కెట్ ధరలు మరియు కనీస మద్దతు ధర వివరాలు కోసం <b>మార్కెట్ ధరలు</b> బటన్ ను ఎంచుకోండి.

    </p>
</div>