<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<br>
<h3 class="text-center">How To Use</h3>
<br>
<div class="container">


<h5> స్మార్ట్ ఆగ్రో ప్రో ఆండ్రాయిడ్  అప్లికేషన్ ఈ క్రింది ఉపయోగాలను  అందిస్తుంది: </h5>
     <ol>
         <li> పంట సూచన   </li>
         <li> ప్రస్తుత వాతావరణ పరిస్థితులను పొందండి  </li>
         <li> రాబోయే రోజులకు వాతావరణ సూచన  </li>
         <li> వివిధ వస్తువుల ప్రస్తుత మార్కెట్ ధరలు  </li>
         <li> కనీస మద్దతు ధర వివరాలు  </li>
         <li> ప్రాంతం నిర్దిష్ట పంట వృద్ధి సూచనలు </li>
     </ol>
</div>