<!DOCTYPE html>
<html>
<head>
	<title> Nim Game </title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>

<div class="container">
<form action="https://original-agro-pro.herokuapp.com/nab" method="get">

	<table class="table">

		<thead>
	    <tr>
	      <th scope="col">Fields</th>
	      <th scope="col">Input</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Select Row Number</th>
	      <td><input type ="text" name ="a"></td>
	    </tr>
	    <tr>
	      <th scope="row">Select number of Sticks</th>
	      <td><input type ="text" name ="b"></td>
	    </tr>
	  </tbody>
	</table>
<div class="container">
<div class="row">
    <div class="col-md-8 mx-auto">
	  <input class="btn btn-primary" type="submit" value="Submit">
     
    </div>
  </div>
	 </div>


{% if best_predicted_crop %}
	<div class="container">
		<div class="row">
    			<div class="col-md-8 mx-auto">
	  			<div class="alert alert-success" role="alert">
 					The Resultant Configuration is 
					
					<p>
					<pre>	
						{{ best_predicted_crop }}
					</pre>
					</p>
				</div>
    			</div>
  		</div>
	</div>
{% endif %}	

</form>


	
	<form action="https://original-agro-pro.herokuapp.com/nr" method="get">
		<div class="container">
			  <input class="btn btn-danger" type="submit" value="New Game">
     	 	</div>

	</form>	
	
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
